.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading p {
  margin: auto;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  margin-top: 30px;
}
p {
  margin: auto;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  color: #000;
  font-weight: bold;
}

.spinner {
  margin-top: 10%;
  font-size: 30px;
  text-align: center;
  margin: auto;
}

.searchBar input {
  font-size: 20px;
  text-align: center;
  width: 20%;
  margin-top: 60px;
  margin-bottom: 30px;
  border-top: inherit;
  border-left: inherit;
  border-right: inherit;
  border-bottom-style: solid;
}
.searchBar {
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.searchBar input:focus {
  outline-color: rgb(36, 179, 55);
}
.searchButton button {
  background-color: inherit;
  color: rgb(36, 179, 55);
  border-top: inherit;
  border-left: inherit;
  font-size: 30px;
  border-right: inherit;
  border-bottom: inherit;
}
.searchButton button :hover {
  color: rgb(8, 90, 39);

  font-size: 35px;
}

.home-table {
  margin: auto;
  max-width: 750px;
  max-height: 50vh;
}
.table-container {
  padding-top: 30px;
  margin-bottom: 30px;
  margin: auto;
}
.home-table h4 {
  font-size: 12px;
  padding-bottom: 10px;
}

.favoriteCityWrapper{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background-color: whitesmoke;
  padding:15px 15px;
  max-width: 800px;
  column-gap: 10px;
  margin-left: 30%;
}
.homeCityWrapper{
  display: grid;
  grid-template-columns: repeat(3);
  margin: auto;
  text-align: center;
  margin-left: 40%;
}

.homeCityWrapper button{
  background-color: whitesmoke;
  border-radius: 20px;
  margin-left: 5px;
  font-size: 12px;
  max-width: 80px;
  margin-bottom: 10px;
  padding: 10px 10px;
  margin-top: 15px;
}
.homeCityWrapper button:hover{
  background-color: antiquewhite;
}


.favoriteCityCard{
  min-height: 90px;
  max-width: 400px;
  border-radius: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 10px;
 text-align: center;
  background-color: rgb(105, 149, 230);
}
.favoriteCityCard:hover{
  background-color: rgb(38, 72, 221);
}
.favoriteCityWrapper p{
  margin: auto;
  text-align: center;
}

.favoriteCityCard h2{
  text-align: center;
  margin-top: 35px;
  color: whitesmoke;
}
.favoriteCityCard p{
  margin-top: 40px;
  color: whitesmoke;
}
.favoriteCityCard h4{
  text-align: center;
  font-size: 18px;
  color: whitesmoke;
}
.favoriteCityCard span{
  font-size: 12px;
  color: whitesmoke;
}
.favoriteCityCard h5{
  text-align: center;
  margin-top: 20px;
  color: whitesmoke;
}
.favoriteCityCard img{
  text-align: center;
  font-size: 50px;
  margin: auto;
}

.home-button button{
  background-color: black;
}

.button-wrapper{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.removed-Fave-City-Text p{
  color: red;
  font-weight: bold;
}
