.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading p {
  margin: auto;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  margin-top: 30px;
}
p {
  margin: auto;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  color: #000;
  font-weight: bold;
}

.spinner {
  margin-top: 10%;
  font-size: 30px;
  text-align: center;
  margin: auto;
}

.searchBar input {
  font-size: 20px;
  text-align: center;
  width: 20%;
  margin-top: 60px;
  margin-bottom: 30px;
  border-top: inherit;
  border-left: inherit;
  border-right: inherit;
  border-bottom-style: solid;
}
.searchBar {
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.searchBar input:focus {
  outline-color: rgb(36, 179, 55);
}
.searchButton button {
  background-color: inherit;
  color: rgb(36, 179, 55);
  border-top: inherit;
  border-left: inherit;
  font-size: 30px;
  border-right: inherit;
  border-bottom: inherit;
}
.searchButton button :hover {
  color: rgb(8, 90, 39);

  font-size: 35px;
}

.home-table {
  margin: auto;
  max-width: 750px;
  max-height: 50vh;
}
.table-container {
  padding-top: 30px;
  margin-bottom: 30px;
  margin: auto;
}
.home-table h4 {
  font-size: 12px;
  padding-bottom: 10px;
}

.favoriteCityWrapper{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  border: solid;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 25px;
  border-right-color: black;
  max-width: 700px;
  column-gap: 10px;
  row-gap: 10px;
  margin: auto;
}

.homeCityWrapper{
  display: grid;
  grid-template-columns: repeat(3);
  text-align: center;
  margin: auto;
}

.homeCityWrapper button{
  background-color: rgb(99, 98, 98);
  border-radius: 50%;
  margin-left: 10px;
  font-size: 12px;
 
  max-width: 70px;
  margin-bottom: 10px;
  padding: 10px 10px;
  margin-top: 15px;
  color: whitesmoke;
}
.homeCityWrapper button:hover{
  background-color: antiquewhite;
  color: black;
}

.favoriteCityCards:hover{
  background-color: #000;
}

 .favoriteCityCards{
  max-width: 270px;
  border-radius: 15px;
  margin-bottom: 20px;
  text-align: center;
  background-color: rgb(126, 127, 128);
  margin: auto;;
} 

.favoriteCityCards h4,h2{
  padding-top: 15px;
  font-size: 14px;
  color: whitesmoke;
  font-weight: bold;
}
.favoriteCityCards h5,p{
  font-size: 11px;
  margin-bottom: 10px;
  color: whitesmoke;
  font-weight: bold;
  padding-left: 12px;
  padding-right: 12px;
}


.favoriteCityCard{
  max-height: 250px;
  max-width: 400px;
  border-radius: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  text-align: center;
  margin: auto;
}

.favoriteCityWrapper p{
  margin: auto;
  text-align: center;
}

.favoriteCityCard h2{
  text-align: center;
  margin-top: 35px;
  color: black;
}
.favoriteCityCard p{
  margin-top: 40px;
  color: black;
}
.favoriteCityCard h4{
  text-align: center;
  font-size: 18px;
  color: black;
}
.favoriteCityCard span{
  font-size: 12px;
  color: black;
}
.favoriteCityCard h5{
  text-align: center;
  margin-top: 20px;
  color: black;
}
.favoriteCityCard img{
  text-align: center;
  font-size: 50px;
  margin: auto;
}




.button-wrapper{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.removed-Fave-City-Text p{
  color: red;
  font-weight: bold;
}

.googleMapGrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.gridLoadCity{
  flex: 1;
}
.googleMap{
  flex: 1
}

.gridWrapper{
  margin: auto;
  max-width: 800px;
  min-height: 200px;
  border-radius: 12PX;
  background-color: rgb(221, 218, 218);
}

.flip-card {
  background-color: transparent;
  width: 210px;
  height: 300px;
  perspective: 1000px;

}

.flip-card-inner {
  position: relative;
  width: 100%;
  border-radius: 12px;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: rgb(166, 182, 218);
  color: black;
}.flip-card-front h4{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 50px;
  color: whitesmoke;
}
.flip-card-front span{
  font-size: 12px;
}
.flip-card-front p{
  margin-top: 25%;
}
.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.homeFormGrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 75px;
  
}

.inputCityGrid{
  flex: 1;
  margin: auto;
  text-align: center;
  position: relative;
}
.homeFormGrid input{
  background-color: inherit;
  color:white;
  margin-top: 20px;
  border-top: inherit;
  border-left: inherit;
  border-right: inherit;
  border-bottom-style:groove;
  border-bottom-width:thick;
  margin-bottom: 1px
}
.homeFormGrid input:focus{
  background-color: black;
  color: wheat;
  border-top: none;
}

.inputStateGrid{
  flex: 1;
  text-align: center;
  margin: auto;
}

.fa-star{
  color: rgb(182, 182, 24);
}

.homeDelete{
  margin-top: 20px;
  margin-bottom: 12px;
  color: black;
}
.homeDelete p{
  color: black;
}

.face-city-length p{
  color: black;
}
